apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    # El servidor de producción de ACME de Let's Encrypt
    server: https://acme-v02.api.letsencrypt.org/directory
    # Correo para notificaciones de expiración (CAMBIAR ESTO)
    email: jsincal@mineduc.edu.gt
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
      - http01:
          ingress:
            class: nginx